<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190341061745-e9lb9qb1dbcf3c6q6d52c5fpc0cj532t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190341061745-e9lb9qb1dbcf3c6q6d52c5fpc0cj532t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>190341061745-u59bekic5vg0l59mgh7u5a4m1ea2hmgj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGUJezaBC33YNFcwbVSfc1NQwSokoMsxI</string>
	<key>GCM_SENDER_ID</key>
	<string>190341061745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maranta4.cprUser</string>
	<key>PROJECT_ID</key>
	<string>clippicreview</string>
	<key>STORAGE_BUCKET</key>
	<string>clippicreview.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190341061745:ios:1aea80b7c24007e0820fd0</string>
	<key>DATABASE_URL</key>
	<string>https://clippicreview.firebaseio.com</string>
</dict>
</plist>